/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
yarn-error.log
/node_modules

# rspec failure tracking
.rspec_status
node_modules

# Dummy app
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/db/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
