<div class="max-w-sm w-full lg:max-w-full lg:flex mb-5 text-gray-800">
  <div class="h-48 lg:h-auto lg:w-56 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style='background-image: url("https://images.unsplash.com/photo-1601987932091-135cac222040?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1287&q=80")'>
  </div>
  <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal w-full relative">
    <div class="mb-8">
      <p class="text-sm text-gray-600 flex items-center">
        <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
          <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
        </svg>
        Members only
      </p>
      <div class="text-gray-800 font-bold text-xl mb-2">
        <%= link_to project.title, edit_project_path(project) %>    
      </div>
      <p class="text-gray-700 text-base"><%= project.description.truncate(500) %></p>
    </div>
    <div class="flex items-center">
      <img class="w-10 h-10 rounded-full mr-4" src='https://picsum.photos/id/304/200/300' alt="Avatar of Jonathan Reinink">
      <div class="text-sm">
        <p class="text-gray-600"><%=   	project.created_at.strftime('%A, %b %d') %></p>
      </div>
    </div>
    <div class="absolute top-0 right-0 p-4">
      <%= link_to project_path(project), method: :delete, remote: true, 
                                         class: 'text-sm text-gray-600 flex items-center' do %>
        delete
      <% end %>
    </div>
  </div>
</div>